<html>
    <head>
        <title>ICP Checker</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

    </head>
    <body style = "background-color: rgb(206, 206, 206); padding-top: 70px; ">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ICP Checker</a>
        </div>
      </div>
    </nav>

     <div class="container">
      <div class="starter-template">
          <form method="post" action="/results">
            <label>Enter domains to be checked separated by <strong>","</strong>:</label>
            <BR><textarea cols="55" rows="1" name="testurl"></textarea>
            <BR><input type="submit" />
          </form>
        </div>
      </div>

  
  </body>
</html>